.header{
  
  height:75px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.asidebar{
  background-color: green;
  width:10%;
  height:600px;
  float:left;

}
.logo{
  height:60px;
  width:100px;
}
.logoflex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}